<!DOCTYPE html>
<html>
<head>
	<title>User Edit</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<%- include('../components/navbar')%>
<h1>Ubah User</h1>
	<form action="/users/<%=user._id %>" method="POST">
		<div class="input-group">
			<label>Name</label>
			<input type="text" name="name" value="<%=user.name %>">
			<input type="hidden" name="_id" value="<%=user._id %>">
		</div>

		<div class="input-group">
			<label>Email</label>
			<input type="text" name="email" value="<%=user.email %>">
		</div>

		<div class="input-group">
			<label>Password</label>
			<input type="password" name="password" value="<%=user.password %>">
		</div>

		<button type="submit">Tambah</button>
		<a href="/users">Kembali</a>
	</form>

<footer>
	<p>&copy; 2021 Widi_arrohman</p>
</footer>

</body>
</html>